<div class="container">
  <h1><strong>Add a new cocktail</strong>!</h1>
    <%= simple_form_for [@cocktail] do |f| %>
     <%= f.input :name, label: "Name of your cocktail"%>
     <%= f.submit "Add", class: "btn btn-dark"%>
    <% end %>
</div>
