<div class="cocktails-banner">
</div>

<div class="container" style="margin-top: 32px;">
  <div  class="row justify-content-center">
    <div class="col-sm-8">
      <h1><strong>Add a new cocktail</strong></h1>
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: "Name of the cocktail"%>
      <%= f.submit "Add", class: "btn btn-dark"%>
      <% end %>
     </div>
  </div>
</div>
