<div class="container">

  <div>
    <h1><strong> <%= @cocktail.name %> </strong></h1>
    <h3>Ingredients</h3>
      <ol>
      <% @cocktail.ingredients.each do |ingredient| %>
        <h4><li><%= ingredient.name %></li></h4>
      <% end %>
      </ol>
  </div>
  <h3><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary m-3" %></h3>
</div>
