.home-banner {
  background-image: url('https://images.unsplash.com/photo-1608515873824-fc31ee3c834c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  font-weight: bold;
  padding-top: 40vh;
}

 .home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 40px;
  font-weight: bold;
}

.home-banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 36px;
  font-weight: bold;
}
