.card {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  border-radius: 8px;
  border-style: none;
}

.card:hover {
  opacity: 0.8;
  transform: translate(0.2%);
}

a {
   text-decoration: none !important
}
