.card-show {
  height: 240px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-size: cover;
  color: black;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  border-radius: 8px;
  border-style: none;
}

